AIStar.YOU_Missed_Call_Demo_V1.json
{
  "name": "AIStar.YOU_Missed_Call_Demo_V1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "missed-call",
        "options": {},
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "176f0af5-dc2a-4353-a302-6a17a10783cd",
      "name": "Webhook",
      "webhookId": "f31a14c2-f288-4e60-abcf-6f27a92e5ca4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0638e23-611e-45ac-a4b5-fdbc908eb1a3",
              "name": "lead_id",
              "value": "={{ $json.body.event_id }}",
              "type": "string"
            },
            {
              "id": "ed9493da-d8bb-4736-ada1-6cdc71febedc",
              "name": "caller_number",
              "value": "={{ $json.body.caller_number }}",
              "type": "string"
            },
            {
              "id": "753eca35-afd4-4a6d-8a9f-9eee9ec4b98d",
              "name": "client_business",
              "value": "={{ $json.body.client_business }}",
              "type": "string"
            },
            {
              "id": "84db5a69-403d-4910-a311-9f4bb7c62d50",
              "name": "event_type",
              "value": "={{ $json.body.event_type }}",
              "type": "string"
            },
            {
              "id": "c42ab3c4-e89e-436f-bb26-61708e769d24",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "5e10da3e-40a3-4f1f-bb5b-e58bb4a38912",
              "name": "consent_status",
              "value": "={{ $json.body.consent_status }}",
              "type": "string"
            },
            {
              "id": "d34f2c35-2118-48a7-97d4-965c2f67eb19",
              "name": "opt_out",
              "value": "={{ $json.body.opt_out }}",
              "type": "string"
            },
            {
              "id": "446ace6b-9cc2-49c1-85f0-f707d65bd11f",
              "name": "test_mode",
              "value": "={{ $json.body.test_mode }}",
              "type": "string"
            },
            {
              "id": "1e3ab892-4bac-421a-9742-fe248a3dfd91",
              "name": "suppression_status",
              "value": "={{ $json.body.suppression_status }}",
              "type": "string"
            },
            {
              "id": "414fd1f1-c02c-4f7e-bcac-acf3084c045c",
              "name": "called_number",
              "value": "={{ $json.body.called_number }}",
              "type": "string"
            },
            {
              "id": "e97253c0-1d62-49db-814c-9a18fe4e643c",
              "name": "issue_category",
              "value": "={{ $json.body.issue_category }}",
              "type": "string"
            },
            {
              "id": "6efe06e9-df39-417c-b057-7caf837b262b",
              "name": "service_requested",
              "value": "={{ $json.body.service_requested }}",
              "type": "string"
            },
            {
              "id": "2ec0260b-73ab-4158-8fdf-e64723754fda",
              "name": "customer_message",
              "value": "={{ $json.body.customer_message }}",
              "type": "string"
            },
            {
              "id": "0379edf5-101a-435a-890b-d0a229744d5e",
              "name": "demo_duplicate_key",
              "value": "={{ $json.body.demo_duplicate_key || $json.body.event_id }}",
              "type": "string"
            },
            {
              "id": "6fbce0b2-a2d6-4da2-8092-9bfa69eb8ba1",
              "name": "city",
              "value": "={{ $json.body.city }}",
              "type": "string"
            },
            {
              "id": "42705253-3c6f-45a4-8192-12b21ff74500",
              "name": "zip",
              "value": "={{ $json.body.zip }}",
              "type": "string"
            },
            {
              "id": "c0ee0d4b-28d8-4c23-8371-80d718e88391",
              "name": "urgency",
              "value": "={{ $json.body.urgency }}",
              "type": "string"
            },
            {
              "id": "04b72963-fa0b-4833-98af-4eec61c97dc4",
              "name": "callback_preference",
              "value": "={{ $json.body.callback_preference }}",
              "type": "string"
            },
            {
              "id": "42a21027-d138-494a-a395-6c45b09f512d",
              "name": "workflow_version",
              "value": "V1-zero-budget-simulation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5247da60-1ead-4a8a-bd6a-196024dd7885",
      "name": "Normalize Missed Call Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9c26b572-0f68-49e8-b96b-2e3e551e3471",
              "leftValue": "={{ $json.lead_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "60f3763e-2f1a-46d1-b961-50a10517b764",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "missed_call",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "551d6f17-9398-4d2b-b638-fed49e52a710",
              "leftValue": "={{ $json.caller_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a30b7236-0bab-44f8-bc82-85e2f6f4a4be",
              "leftValue": "={{ $json.client_business }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "72d109c4-e4db-4ce8-b54e-910de672d302",
              "leftValue": "={{ String($json.test_mode) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -220
      ],
      "id": "69129b9f-f58f-4afe-a394-5a21403a3520",
      "name": "Required Data Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "978dbb8f-0dd8-4cf6-8365-c7c3871b95a2",
              "name": "workflow_status",
              "value": "stopped",
              "type": "string"
            },
            {
              "id": "78ead384-4eb5-49cf-bd03-090be336f046",
              "name": "eligibility_decision",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "9725ec2e-b17e-4017-ae13-84ec6b39d10d",
              "name": "eligibility_reason",
              "value": "malformed_or_missing_required_data_or_test_mode_not_true",
              "type": "string"
            },
            {
              "id": "e00c0305-8604-419c-846f-f522e3cf0e9e",
              "name": "audit_note",
              "value": "Required demo fields were missing/invalid or test_mode was not true. No live delivery attempted.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -360
      ],
      "id": "13581bec-50ea-4351-aaf7-32937f3f57b7",
      "name": "Build Invalid Payload Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "820ca37c-90c7-430a-bb33-8c388a282427",
              "leftValue": "={{ $json.consent_status }}",
              "rightValue": "approved_test",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b663c18e-9f9b-486e-b042-ecd760f34341",
              "leftValue": "={{ $json.opt_out }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "131dba02-02b0-493d-b35f-5ddeba1502ad",
              "leftValue": "={{ $json.suppression_status }}",
              "rightValue": "clear",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        120
      ],
      "id": "577e2420-452f-48f0-b8ab-ae8254471141",
      "name": "Consent Opt-Out Suppression Eligibility Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0801c06-2f93-473a-915e-5e4407b04021",
              "name": "eligibility_decision",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "cf4361fe-74e7-4da4-b9fb-673c8423b2a6",
              "name": "eligibility_reason",
              "value": "={{ String($json.opt_out).toLowerCase() === 'true'   ? 'opt_out'   : $json.suppression_status !== 'clear'     ? 'suppressed'     : $json.consent_status !== 'approved_test'       ? 'consent_not_approved'       : 'eligibility_failed' }}",
              "type": "string"
            },
            {
              "id": "16539a54-5fc0-4581-ae0e-6b55ac801182",
              "name": "workflow_status",
              "value": "stopped",
              "type": "string"
            },
            {
              "id": "34add99c-4ce8-4a81-8499-113544d3cebf",
              "name": "audit_note",
              "value": "Processing stopped before qualification because consent, opt-out, or suppression protection failed. No customer-facing message or live alert was sent.",
              "type": "string"
            },
            {
              "id": "f73509c4-9570-4ce8-9f56-53f85d1c4fc3",
              "name": "simulation_boundary",
              "value": "zero_budget_demo_no_live_delivery",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        220
      ],
      "id": "6e86375f-e9f2-4610-8a41-f338f0df5d6b",
      "name": "Build Blocked Eligibility Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e010ad90-5027-4d36-861a-28cc5f2be0e3",
              "leftValue": "={{ $json.demo_duplicate_key }}",
              "rightValue": "DUPLICATE-HVAC-001",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -120
      ],
      "id": "72cdf4e9-0cf7-4a78-8cbb-bd0158a1a90c",
      "name": "Deterministic Demo Duplicate Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8e198c2-02ba-4c77-ba4e-2ef2763a3bdf",
              "name": "workflow_status",
              "value": "stopped",
              "type": "string"
            },
            {
              "id": "101b24c3-05e4-4edc-8f18-b5b2ee68e7fd",
              "name": "eligibility_decision",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "29aa1622-efaf-492c-954f-46bfa1c957c1",
              "name": "eligibility_reason",
              "value": "={{ $json.duplicate_source === 'n8n_execution_history' ? 'duplicate_lead_execution_history' : 'duplicate_lead_demo_guard' }}",
              "type": "string"
            },
            {
              "id": "ce8a0738-a211-42c2-8c48-d35001291221",
              "name": "audit_note",
              "value": "={{ $json.duplicate_source === 'n8n_execution_history' ? 'Duplicate detected from persisted n8n execution-history demo state before simulated outreach. Structured stopped response returned; no live delivery attempted.' : 'Controlled fixture duplicate detected before simulated outreach. Remove Duplicates node remains in path for fresh eligible demo traffic.' }}",
              "type": "string"
            },
            {
              "id": "a239e538-7f54-4ed8-9e61-40bb320c921a",
              "name": "duplicate_source",
              "value": "={{ $json.duplicate_source || 'controlled_fixture' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -260
      ],
      "id": "bcd282d1-5d72-4d54-b248-25d6aea8b9e7",
      "name": "Build Duplicate Result"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.seenDemoDuplicateKeys = data.seenDemoDuplicateKeys || {};\nconst now = new Date().toISOString();\nreturn items.map((item) => {\n  const key = String(item.json.demo_duplicate_key || item.json.lead_id || '');\n  const seenRecord = key ? data.seenDemoDuplicateKeys[key] : undefined;\n  if (key && !seenRecord) {\n    data.seenDemoDuplicateKeys[key] = { first_seen_at: now, lead_id: item.json.lead_id || null };\n  }\n  return {\n    json: {\n      ...item.json,\n      is_execution_history_duplicate: Boolean(seenRecord),\n      duplicate_source: seenRecord ? 'n8n_execution_history' : item.json.duplicate_source,\n      duplicate_first_seen_at: seenRecord?.first_seen_at || null,\n    },\n  };\n});"
      },
      "id": "2a57a448-0bbd-45ce-923f-e013f0b4f3df",
      "name": "Execution History Duplicate Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ff808d92-f153-4261-b5ea-d06ad3308146",
              "leftValue": "={{ $json.is_execution_history_duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c7c4d37-81e2-4a32-bb1e-76fd1707e498",
      "name": "Execution History Duplicate Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicateInputItems",
        "dedupeValue": "demo_duplicate_key",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1040,
        -80
      ],
      "id": "ee5a436f-3494-4259-a622-40052cc31094",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d52f0644-fd6b-4182-8a04-754d75b9a022",
              "name": "workflow_status",
              "value": "completed_simulation",
              "type": "string"
            },
            {
              "id": "0f2aedff-c58a-4d6b-9718-2176d7380415",
              "name": "eligibility_decision",
              "value": "eligible",
              "type": "string"
            },
            {
              "id": "855d6df5-ae55-4ba0-87d9-2836db6855da",
              "name": "qualification_result",
              "value": "={{ String($json.issue_category || '').trim() ? 'qualified_hvac_service_lead' : 'qualified_general_hvac_callback' }}",
              "type": "string"
            },
            {
              "id": "471ac807-3e40-4a08-8b17-9c0ca7dbf11e",
              "name": "urgency_classification",
              "value": "={{ ['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? 'explicit_urgent_or_concerning_content' : 'standard' }}",
              "type": "string"
            },
            {
              "id": "9ae2d740-aefb-4833-a0b8-db39f051cce3",
              "name": "handoff_status",
              "value": "={{ ['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? 'URGENT_HUMAN_REVIEW_REQUIRED' : (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term)) ? 'HUMAN_REVIEW_REQUIRED' : 'READY_FOR_HANDOFF') }}",
              "type": "string"
            },
            {
              "id": "923f489d-0ad5-4e4d-8d06-0079d6794e43",
              "name": "human_review_required",
              "value": "={{ (['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term))) || (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term))) }}",
              "type": "boolean"
            },
            {
              "id": "cfc1ae03-faca-4493-8199-7485486c7f6a",
              "name": "handoff_reason",
              "value": "={{ ['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? 'explicit urgent or concerning content requires urgent human review' : (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term)) ? 'ambiguous or incomplete job details require human review' : 'complete interpretable non-urgent lead ready for handoff') }}",
              "type": "string"
            },
            {
              "id": "b02ac3b3-7fa0-4eb6-8900-dc00f9fda914",
              "name": "alert_priority",
              "value": "={{ ['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? 'priority' : (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term)) ? 'human_review' : 'normal') }}",
              "type": "string"
            },
            {
              "id": "9462b8f0-50bc-46b1-b4d6-d2b7eb22503a",
              "name": "simulated_customer_response_record",
              "value": "={{ { channel: 'simulated_sms_future_twilio_not_sent', content_status: 'simulated_not_approved_for_live_sending', message: '[SIMULATED - NOT SENT] Thanks for calling ' + $json.client_business + '. We missed your call about ' + ($json.service_requested || 'HVAC service') + '. Reply is simulated in this V1 demo; no live SMS was sent.' } }}",
              "type": "object"
            },
            {
              "id": "edc5da26-baf2-4f74-89bc-25797eff7c0e",
              "name": "simulated_owner_alert_record",
              "value": "={{ { to: 'hello@aistar.you', channel: 'simulated_email_record_not_sent', subject: (['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? '[SIMULATED PRIORITY] ' : '[SIMULATED] ') + 'Missed call recovery lead - ' + $json.client_business, body: 'Lead ' + $json.lead_id + ' from ' + $json.caller_number + ' handoff_status=' + (['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? 'URGENT_HUMAN_REVIEW_REQUIRED' : (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term)) ? 'HUMAN_REVIEW_REQUIRED' : 'READY_FOR_HANDOFF')) + ', human_review_required=' + ((['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term))) || (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term)))) + ', alert_priority=' + (['emergency','urgent','asap','immediate','gas smell','carbon monoxide','sparks','smoke','flooding','burst pipe','electrical hazard','medical','elderly','infant','no heat with freezing','water pouring'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '') + ' ' + String($json.urgency || '')).toLowerCase().includes(term)) ? 'priority' : (String($json.customer_message || '').trim().length < 20 || ['not sure','unknown','unclear','maybe','something wrong','issue','problem','help','?'].some(term => (String($json.customer_message || '') + ' ' + String($json.service_requested || '')).toLowerCase().includes(term)) ? 'human_review' : 'normal')) + '. No diagnosis, price, appointment, availability promise, safety instruction, or live email was delivered.' } }}",
              "type": "object"
            },
            {
              "id": "5737a357-ca3b-4472-902b-0aac6b184f75",
              "name": "audit_note",
              "value": "Deterministic zero-budget V1 simulation completed. No Gemini, Twilio, email, calendar, or paid service was called.",
              "type": "string"
            },
            {
              "id": "8956c47e-6b4e-454f-acc8-cd4b785f24eb",
              "name": "simulation_boundary",
              "value": "zero_budget_demo_no_live_delivery",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -80
      ],
      "id": "86311bc9-0a55-4938-af5b-43af1600f354",
      "name": "Build Simulated Recovery Records"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { workflow_status: $json.workflow_status, lead_id: $json.lead_id || null, eligibility_decision: $json.eligibility_decision || null, eligibility_reason: $json.eligibility_reason || null, qualification_result: $json.qualification_result || null, handoff_status: $json.handoff_status || null, human_review_required: $json.human_review_required || false, handoff_reason: $json.handoff_reason || null, urgency_classification: $json.urgency_classification || null, simulated_customer_response_record: $json.simulated_customer_response_record || null, simulated_owner_alert_record: $json.simulated_owner_alert_record || null, audit: { workflow_version: $json.workflow_version, simulation_boundary: $json.simulation_boundary || 'zero_budget_demo_no_live_delivery', test_mode: $json.test_mode, note: $json.audit_note } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1464,
        0
      ],
      "id": "dcc0381f-8161-477c-8e75-c9ebc6610a8e",
      "name": "Final Structured Webhook Response"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "event_type": "missed_call",
            "event_id": "TEST-002",
            "caller_number": "+12145550100",
            "called_number": "+14695550101",
            "timestamp": "2026-07-17T13:58:00Z",
            "client_business": "AIStar.YOU Demo HVAC",
            "test_mode": true,
            "consent_status": "approved_test",
            "opt_out": false,
            "suppression_status": "clear",
            "issue_category": "no_cooling",
            "service_requested": "AC repair",
            "customer_message": "AC stopped cooling after hours"
          },
          "webhookUrl": "https://aistar-you.app.n8n.cloud/webhook-test/missed-call",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Missed Call Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Missed Call Payload": {
      "main": [
        [
          {
            "node": "Required Data Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Data Check": {
      "main": [
        [
          {
            "node": "Consent Opt-Out Suppression Eligibility Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Invalid Payload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consent Opt-Out Suppression Eligibility Check": {
      "main": [
        [
          {
            "node": "Deterministic Demo Duplicate Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Blocked Eligibility Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Demo Duplicate Check": {
      "main": [
        [
          {
            "node": "Build Duplicate Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execution History Duplicate Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Build Simulated Recovery Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invalid Payload Result": {
      "main": [
        [
          {
            "node": "Final Structured Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Blocked Eligibility Result": {
      "main": [
        [
          {
            "node": "Final Structured Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Duplicate Result": {
      "main": [
        [
          {
            "node": "Final Structured Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Simulated Recovery Records": {
      "main": [
        [
          {
            "node": "Final Structured Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution History Duplicate Flag": {
      "main": [
        [
          {
            "node": "Execution History Duplicate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution History Duplicate Check": {
      "main": [
        [
          {
            "node": "Build Duplicate Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2136d061-cc43-411b-b822-fb73e8c0cf8e",
  "meta": {
    "instanceId": "b38bb4426413406566c242f7e8011f51151b5e6e3307caf7a0e9071d1835b419"
  },
  "nodeGroups": [],
  "id": "tdtduFIULwOUnitu",
  "tags": []
}
